* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.nav {
  width: 100%;
  height: 8.5rem;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

.name-img img {
  height: 7rem;
  max-width: 100%;
  vertical-align: top;
  position: relative;
  top: 0;
  left: 0.4rem;
  padding: 1.4rem;
  margin: 1rem 2rem;
  cursor: pointer;
}

.nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: auto;
  height: 8.5rem;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-size: 1.8rem;
}

.nav-cont .ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-cont .ul .hr {
  width: 2px;
  height: 24px;
  margin-top: 8px;
  background-color: red;
}

.nav-cont li {
  margin: 1rem;
}

.nav-cont li a {
  color: white;
  text-decoration: none;
}

.nav-cont li:nth-child(1) {
  font-weight: bold;
}

.nav-cont .shop-cont span,
.nav-cont .more-cont span {
  padding: 0.1rem;
  margin: 0.6rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.hamburgur {
  position: absolute;
  top: 36px;
  left: 5%;
  z-index: 4;
  cursor: pointer;
  display: none;
}

.hamburgur .line {
  width: 26px;
  height: 3px;
  margin: 4px;
  background: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.toggle.line1 {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.toggle.line2 {
  opacity: 0;
}

.toggle.line3 {
  -webkit-transform: rotate(-45deg) translate(4px, -5px);
          transform: rotate(-45deg) translate(4px, -5px);
}

.search {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 1.6rem;
}

.search .sera {
  color: white;
  position: absolute;
  right: 10px;
  top: 6px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search input {
  height: 30px;
  background: black;
  padding: 2px;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  outline: none;
}

.search input:focus {
  background-color: white;
  color: black;
}

.search input:focus .sera {
  color: black;
}

.shop-cont,
.more-cont {
  cursor: pointer;
}

.moreinfo {
  position: absolute;
  top: 50px;
  right: 10px;
  cursor: pointer;
}

.moreinfo button {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 6px;
}

.moreinfo img {
  width: 20px;
  height: 20px;
}

.moreinfo .cart {
  color: white;
}

.moreinfo .cart-count {
  color: white;
  font-size: 1.6rem;
}

.hideli {
  display: none;
}

.social-media {
  display: none;
  cursor: pointer;
}

.main {
  position: absolute;
  top: 8.5rem;
  left: 0;
  width: 100%;
  height: 100vh;
}

.main img {
  width: 100%;
  height: 100vh;
}

.options {
  position: absolute;
  top: 0rem;
  left: 0;
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 5;
  border-bottom: 1px solid white;
  background: #2b2c2d;
  display: none;
  -webkit-transition: all 0.5s cubic-bezier(1, -0.22, 0.5, 0.58);
  transition: all 0.5s cubic-bezier(1, -0.22, 0.5, 0.58);
}

.options .options-all img {
  width: 284px;
  height: 160px;
}

.options-drop {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 0rem;
  left: 690px;
  background: #2b2c2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  display: none;
}

.options-drop .drop1 a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}

.options-drop .drop1 a:hover {
  color: red;
}

.optn,
.optn-drop {
  display: none;
}

.section1 {
  width: 100%;
  height: 700px;
  background-color: black;
}

.section1 .section1-cont {
  position: relative;
  left: 0;
  width: 100%;
  height: 20vh;
  background: black;
  font-size: 3.4rem;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  color: black;
  -webkit-text-stroke: 1px white;
  font-weight: bold;
  padding-top: 30px;
}

.section1 .section1-cont .highlight {
  color: white;
}

.section1 .playcont {
  position: relative;
  background: white;
  min-width: 90%;
  min-height: 360px;
  margin: 25px;
  font-size: 1.6rem;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1 .playcont .heading {
  font-size: 6rem;
  width: 50%;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  opacity: 0;
}

.section1 .playcont .shopslider {
  position: relative;
  height: 300px;
  width: 560px;
  top: 100px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.section1 .playcont .shopslider img {
  width: 250px;
  height: 300px;
  margin: 0 8px;
}

.section1 .playcont .shopslider .itemshop {
  position: relative;
  text-align: center;
}

.section1 .playcont .shopslider .itemshop .shopnow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  z-index: 10000;
}

.section1 .playcont .shopslider .itemshop .shopnow button {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 4px 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.section1 .playcont .shopslider .itemshop .shopnow button:hover {
  background-color: #d4c8c8;
  color: red;
}

.section1 .lSPager {
  display: none;
}

.section1 .lSPrev {
  margin: 0 10px;
}

.section1 .lSNext {
  margin: 0 20px;
}

.section2 {
  position: absolute;
  top: 1165px;
  height: 100vh;
  width: 100%;
  background: black;
  overflow: hidden;
}

.section2 .information-stars {
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 20px;
}

.section2 .information-stars .star-card {
  width: 100%;
  height: 100%;
  background: #332e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .information-stars .star-card a {
  color: red;
  text-decoration: none;
}

.section2 .information-stars .all-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
  position: relative;
  top: 18%;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.section2 .information-stars .all-description .boat-heading {
  width: 100%;
  font-size: 5.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: red;
  letter-spacing: 1px;
}

.section2 .information-stars .all-description .hr {
  width: 20%;
  height: 2px;
  background: red;
  position: relative;
  top: 10px;
}

.section2 .information-stars .all-description .star-name {
  color: red;
  font-size: 2.2rem;
  position: relative;
  top: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.section2 .information-stars .all-description .star-name span {
  font-weight: bold;
}

.section2 .information-stars .all-description .star-decription {
  color: white;
  font-size: 2.8rem;
  font-weight: bold;
  position: relative;
  top: 50px;
}

.section2 .information-stars .all-description .description {
  color: #ffffffd8;
  position: relative;
  top: 60px;
  font-size: 1.8rem;
  text-align: justify;
  width: 90%;
}

.section2 .information-stars .star-img {
  width: 40%;
  height: 100%;
}

.section2 .information-stars .star-img img {
  position: relative;
  width: 400px;
  height: 100%;
}

.trend-product {
  position: absolute;
  top: 1575px;
  background-color: black;
  width: 100%;
  height: 600px;
}

.trend-product .trend-heading {
  position: relative;
  font-size: 4.8rem;
  color: white;
  position: relative;
  top: 30px;
  font-weight: bold;
  margin-left: 10px;
}

.trend-product .slider-product {
  position: relative;
  top: 50px;
  width: 100%;
  height: 80%;
  background: black;
  left: 0;
  opacity: 0;
}

.trend-product .slider-product .lSPager {
  display: none;
}

.trend-product .slider-product img {
  position: relative;
  width: 338px;
  height: 316px;
  margin: 0 25px;
}

.section3 {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 2175px;
  background: black;
  margin: 0;
}

.section3 .category-content {
  position: relative;
  width: 100%;
  height: 648px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
  -ms-grid-rows: 40% 10% 25% 25%;
      grid-template-rows: 40% 10% 25% 25%;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
  margin: 0;
  background-color: lightcoral;
  color: white;
  font-size: 1.6rem;
}

.section3 .container1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.section3 .container1 span {
  position: absolute;
  top: 128%;
  right: 20px;
}

.section3 .container2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section3 .container2 span {
  top: 120%;
  right: 20px;
}

.section3 .container3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.section3 .container3 span,
.section3 .container3 a {
  top: 125%;
  right: 20px;
}

.section3 .container4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

.section3 .container4 span,
.section3 .container4 a {
  top: 140%;
  right: 20px;
}

.section3 .container5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

.section3 .container5 span,
.section3 .container5 a {
  top: 125%;
  right: 20px;
}

.section3 .container1,
.section3 .container2,
.section3 .container3,
.section3 .container4,
.section3 .container5 {
  position: relative;
}

.section3 .container1 .overfilter,
.section3 .container2 .overfilter,
.section3 .container3 .overfilter,
.section3 .container4 .overfilter,
.section3 .container5 .overfilter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: all 0.8s cubic-bezier(0.51, -0.15, 0.72, -0.09);
  transition: all 0.8s cubic-bezier(0.51, -0.15, 0.72, -0.09);
}

.section3 .container1 .description-category,
.section3 .container2 .description-category,
.section3 .container3 .description-category,
.section3 .container4 .description-category,
.section3 .container5 .description-category {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.section3 .container1 .description-category h3,
.section3 .container2 .description-category h3,
.section3 .container3 .description-category h3,
.section3 .container4 .description-category h3,
.section3 .container5 .description-category h3 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.section3 .container1 .description-category p,
.section3 .container2 .description-category p,
.section3 .container3 .description-category p,
.section3 .container4 .description-category p,
.section3 .container5 .description-category p {
  width: 100%;
  margin-top: 20px;
  font-size: 1.8rem;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  pointer-events: none;
  line-height: 30px;
}

.section3 .container1 .description-category span,
.section3 .container2 .description-category span,
.section3 .container3 .description-category span,
.section3 .container4 .description-category span,
.section3 .container5 .description-category span {
  position: absolute;
  font-size: 3rem;
  font-weight: 400;
}

.section3 .container1 .description-category a,
.section3 .container2 .description-category a,
.section3 .container3 .description-category a,
.section3 .container4 .description-category a,
.section3 .container5 .description-category a {
  color: white;
  text-decoration: none;
  pointer-events: none;
  opacity: 0;
}

.section3 .container1:hover span,
.section3 .container1:hover a,
.section3 .container2:hover span,
.section3 .container2:hover a,
.section3 .container3:hover span,
.section3 .container3:hover a,
.section3 .container4:hover span,
.section3 .container4:hover a,
.section3 .container5:hover span,
.section3 .container5:hover a {
  opacity: 1;
  pointer-events: all;
}

.section3 .container1:hover h3,
.section3 .container2:hover h3,
.section3 .container3:hover h3,
.section3 .container4:hover h3,
.section3 .container5:hover h3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section3 .container1:hover p,
.section3 .container2:hover p,
.section3 .container3:hover p,
.section3 .container4:hover p,
.section3 .container5:hover p {
  opacity: 1;
  pointer-events: all;
}

.section3 .container1:hover .overfilter,
.section3 .container2:hover .overfilter,
.section3 .container3:hover .overfilter,
.section3 .container4:hover .overfilter,
.section3 .container5:hover .overfilter {
  background: rgba(58, 55, 55, 0.801);
}

.section3 img {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
}

.section4 {
  position: absolute;
  width: 100%;
  top: 2875px;
  height: 1100px;
  background: black;
}

.section4 .boathead-special {
  width: 100%;
  height: 500px;
  background-color: #332e2e;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 .text-description {
  width: 36%;
  opacity: 0;
  pointer-events: none;
}

.section4 .text-description h3 {
  color: red;
  font-size: 6.5rem;
  font-weight: bold;
  margin: 10px;
  margin-left: 30px;
  margin-top: 40px;
}

.section4 .text-description h3 a {
  color: #ea2127;
  text-decoration: none;
}

.section4 .text-description p {
  color: white;
  text-align: left;
  width: 38%;
  font-size: 1.6rem;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section4 .img-tab {
  width: 60%;
  height: 80%;
  padding: 0 2%;
  margin-top: 3.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
}

.section4 .img-tab img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  max-height: 350px;
}

.section4 .people-opinion {
  width: 100%;
  position: relative;
}

.section4 .people-opinion h3 {
  color: white;
  font-size: 5.6rem;
  font-weight: bold;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 5%;
}

.section4 .cards-people {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 .cards-people ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 .cards-people ul .item-a,
.section4 .cards-people ul .item-b,
.section4 .cards-people ul .item-c {
  margin: 0 28px;
  width: 350px;
}

.section4 .cards-people img {
  height: 424px;
  width: 100%;
}

.section4 .text-description h3 a {
  width: 100%;
}

.section5 {
  width: 100%;
  background: black;
  height: 860px;
  position: absolute;
  top: 3975px;
}

.section5 .blog h3 {
  color: white;
  font-size: 6rem;
  position: relative;
  left: 50%;
  display: inline-block;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section5 .blog a {
  color: white;
  text-decoration: none;
}

.section5 .blog .iamges-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  margin-left: 16px;
}

.section5 .blog .iamges-show img {
  width: 100%;
  height: 195px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.section5 .blog .iamges-show img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.section5 .blog .iamges-show .img1,
.section5 .blog .iamges-show .img2,
.section5 .blog .iamges-show .img3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90%;
  margin: 0 20px;
}

.section5 .blog .iamges-show .img1 a,
.section5 .blog .iamges-show .img2 a,
.section5 .blog .iamges-show .img3 a {
  font-size: 2.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.section5 .blog .iamges-show .img1 h4:hover a,
.section5 .blog .iamges-show .img2 h4:hover a,
.section5 .blog .iamges-show .img3 h4:hover a {
  color: red;
}

.section5 .blog .iamges-show .img1 button,
.section5 .blog .iamges-show .img2 button,
.section5 .blog .iamges-show .img3 button {
  background: transparent;
  color: white;
  outline: none;
  display: inline;
  width: 100px;
  height: 73px;
  border: 0;
}

.section5 .blog .iamges-show .img1 button a,
.section5 .blog .iamges-show .img2 button a,
.section5 .blog .iamges-show .img3 button a {
  font-size: 1.4rem;
  padding: 8px 14px;
  border: 1px solid red;
  border-radius: 5px;
}

.section5 .awards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 50px;
}

.section5 .awards img {
  width: 900px;
  height: 283px;
}

.markq {
  position: absolute;
  top: 4835px;
  width: 100%;
  height: 100px;
  background: black;
  color: black;
  font-size: 3.2rem;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.markq span {
  -webkit-text-stroke: 1px #fff;
}

.markq .highlight {
  color: white;
  -webkit-text-stroke: 0;
}

footer {
  position: absolute;
  top: 5000px;
  width: 100%;
  height: auto;
  background: black;
}

footer .footer-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 250px;
  background: #332e2e;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-images img {
  width: 100%;
}

footer .footer-images p {
  color: white;
  font-size: 1.4rem;
  text-align: center;
  width: 76%;
}

footer .footer-options .head-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: white;
}

footer .footer-options .head-option h3 {
  text-transform: uppercase;
  font-weight: bold;
}

footer .footer-options .head-option h3 i {
  display: none;
}

footer .footer-options .head-option .shop ul,
footer .footer-options .head-option .help ul,
footer .footer-options .head-option .company ul {
  list-style-type: none;
  margin: 10px 0;
}

footer .footer-options .head-option .shop ul li,
footer .footer-options .head-option .help ul li,
footer .footer-options .head-option .company ul li {
  margin: 10px 0;
}

footer .footer-options .head-option .shop ul li a,
footer .footer-options .head-option .help ul li a,
footer .footer-options .head-option .company ul li a {
  text-decoration: none;
  color: white;
}

footer .footer-options .head-option .shop ul li a:hover,
footer .footer-options .head-option .help ul li a:hover,
footer .footer-options .head-option .company ul li a:hover {
  opacity: 0.75;
}

footer .footer-options .head-option .shop,
footer .footer-options .head-option .help {
  margin-top: 16px;
}

footer .footer-options .head-option .company {
  margin-top: -54px;
}

footer .social-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  font-size: 1.6rem;
  color: white;
  margin-top: 30px;
}

footer .social-links .subscribe-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .social-links .subscribe-form form input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
}

footer .social-links .subscribe-form form ::-webkit-input-placeholder {
  font-size: 1.2rem;
  color: white;
}

footer .social-links .subscribe-form form :-ms-input-placeholder {
  font-size: 1.2rem;
  color: white;
}

footer .social-links .subscribe-form form ::-ms-input-placeholder {
  font-size: 1.2rem;
  color: white;
}

footer .social-links .subscribe-form form ::placeholder {
  font-size: 1.2rem;
  color: white;
}

footer .social-links .subscribe-form form button {
  background: transparent;
  color: white;
  padding: 8px 28px;
  border-radius: 20px;
  font-size: 1.3rem;
  border: 1px solid #ff4000;
  text-transform: uppercase;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

footer .social-links .subscribe-form form button:hover {
  background: red;
}

footer .social-links .social-medias-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-links .social-medias-link h3 {
  text-transform: uppercase;
  font-size: 2rem;
}

footer .social-links .social-medias-link a {
  color: white;
  margin: 0 8px;
}

footer .social-links .social-medias-link a i {
  font-size: 2.5rem;
}

footer .social-links .social-medias-link a:hover {
  opacity: 0.75;
}

footer .download-app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px;
}

footer .download-app-links h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
}

footer .download-app-links img {
  margin: 0 10px;
  margin-top: 20px;
}

footer .gate-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .boat-official {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

footer address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin: 50px 0;
  color: white;
}

@-webkit-keyframes scrollheadin {
  0% {
    top: -150vh;
    z-index: 6;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes scrollheadin {
  0% {
    top: -150vh;
    z-index: 6;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes scrollshopslider {
  0% {
    right: -100%;
    opacity: 1;
  }
  100% {
    right: 10px;
    opacity: 1;
  }
}

@keyframes scrollshopslider {
  0% {
    right: -100%;
    opacity: 1;
  }
  100% {
    right: 10px;
    opacity: 1;
  }
}

@-webkit-keyframes leftaniin {
  0% {
    left: -200%;
    display: none;
    opacity: 1;
  }
  100% {
    left: 0;
    display: block;
    opacity: 1;
  }
}

@keyframes leftaniin {
  0% {
    left: -200%;
    display: none;
    opacity: 1;
  }
  100% {
    left: 0;
    display: block;
    opacity: 1;
  }
}

@-webkit-keyframes scrollresponsive {
  0% {
    left: 150%;
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes scrollresponsive {
  0% {
    left: 150%;
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 1;
  }
}

@-webkit-keyframes imgani {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes imgani {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes leftin {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
    pointer-events: all;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes leftin {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
    pointer-events: all;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
    pointer-events: all;
  }
}

@media (max-width: 1117px) {
  .section4 .boathead-special {
    height: 580px;
  }
  .section4 .img-tab {
    height: 70%;
    margin-top: 8%;
  }
  .section5 {
    height: 850px;
  }
  .section5 .awards {
    top: 30px;
  }
  .markq {
    top: 4820px;
  }
  footer .footer-images p {
    width: 90%;
  }
}

.lSSlideOuter .lSPager.lSpg {
  display: none;
}

@media (max-width: 1020px) {
  .nav {
    height: 12rem;
  }
  .search {
    top: 80px;
    left: 10px;
  }
  .search .sera {
    top: 2px;
    left: 160px;
  }
  .moreinfo {
    top: 70px;
  }
  .name-img img {
    padding: 2rem;
  }
  .main {
    position: absolute;
    top: 12rem;
  }
  .options {
    top: -50px;
  }
  .options .options-all img {
    width: 180px;
    height: 140px;
  }
  .options-drop {
    left: 480px;
    top: -50px;
  }
  .section1-cont {
    min-height: 15vh;
    font-size: 3.2rem;
  }
  .trend-product .slider-product img {
    width: 260px;
    height: 270px;
  }
  .section3 .category-content {
    height: 548px;
  }
  .section3 .container1 span {
    top: 120%;
  }
  .section3 .container2 span {
    top: 102%;
  }
  .section3 .container4 span {
    top: 125%;
  }
  .section3 .container5 span {
    top: 108%;
  }
  .section5 .blog .iamges-show {
    margin-left: 20px;
    margin: 10px;
  }
  .section5 .blog .iamges-show img {
    height: 250px;
  }
  .section5 .blog .iamges-show .img1 h4,
  .section5 .blog .iamges-show .img2 h4 {
    margin: 20px 0;
  }
  .section5 .blog .iamges-show .img2 button {
    margin-top: 30px;
  }
  .section5 .blog .iamges-show .img3 {
    display: none;
  }
  footer .footer-options .head-option {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  footer .footer-options .head-option .shop,
  footer .footer-options .head-option .help,
  footer .footer-options .head-option .company {
    width: 80%;
    border-bottom: 1px solid white;
  }
  footer .footer-options .head-option .shop h3,
  footer .footer-options .head-option .help h3,
  footer .footer-options .head-option .company h3 {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer-options .head-option .shop h3 i,
  footer .footer-options .head-option .help h3 i,
  footer .footer-options .head-option .company h3 i {
    display: block;
    margin-left: -80px;
    font-size: 1.4rem;
  }
  footer .footer-options .head-option ul {
    display: none;
    font-size: 1.6rem;
  }
  footer .footer-options .head-option .display {
    display: block;
  }
  footer .footer-options .head-option .company {
    margin: 0;
    margin-top: 10px 0;
  }
  footer .social-links {
    margin-left: 30px;
  }
}

@media (max-width: 900px) {
  .section5 .awards img {
    width: 800px;
    height: 220px;
  }
}

@media (max-width: 932px) {
  .section1 .playcont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 460px;
  }
  .section1 .playcont .heading {
    width: 100%;
    padding-right: 10px;
  }
  .section1 .playcont .shopslider {
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .section2 {
    height: 1000px;
  }
  .section2 .information-stars {
    top: 30px;
  }
  .section3 .category-content {
    height: 442px;
  }
  .section3 .container1 span {
    top: 103%;
  }
  .section3 .container2 span {
    top: 92%;
  }
  .section3 .container3 span {
    top: 106%;
  }
  .section3 .container4 span {
    top: 104%;
  }
  .section3 .container5 span {
    top: 92%;
  }
  .section4 .text-description h3 {
    font-size: 5rem;
  }
  .section4 .text-description p {
    margin-top: 50px;
  }
}

@media (max-width: 927px) {
  .section2 {
    top: 1160px;
    height: 1000px;
  }
  .section2 .information-stars {
    top: 60px;
  }
  .section2 .information-stars .star-card {
    height: 480px;
  }
  .section2 .information-stars .star-img {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .trend-product {
    top: 1730px;
  }
  .trend-product .slider-product img {
    margin: 0 20px;
  }
  .section4 .text-description h3 {
    font-size: 5rem;
  }
  .section4 .text-description p {
    margin-top: 50px;
  }
  .section4 .cards-people .item-a,
  .section4 .cards-people .item-b,
  .section4 .cards-people .item-c {
    width: 400px;
  }
}

@media (max-width: 892px) {
  .section5 .blog .iamges-show .img2 button {
    margin-top: 10px;
  }
  .markq {
    top: 4780px;
  }
}

@media (max-width: 895px) {
  .section4 .text-description h3 {
    font-size: 3.6rem;
  }
  .section4 .text-description p {
    width: 60%;
  }
}

@media (max-width: 829px) {
  .section2 {
    top: 1300px;
  }
  .section2 .information-stars {
    top: 190px;
  }
  .section2 .information-stars .star-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 1250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    position: relative;
    top: 300px;
  }
  .section2 .information-stars .all-description {
    top: -450px;
  }
  .section2 .information-stars .all-description .boat-heading {
    font-size: 4rem;
  }
  .section2 .information-stars .all-description .star-name {
    font-size: 2rem;
  }
  .section2 .information-stars .all-description .star-decription {
    font-size: 2.4rem;
  }
  .section2 .information-stars .all-description .description {
    font-size: 1.6rem;
    text-align: left;
  }
  .section2 .information-stars .star-img {
    width: 100%;
    height: 100%;
    top: 0;
  }
  .section2 .information-stars .star-img img {
    position: relative;
    top: -220px;
    width: 100%;
    height: 450px;
  }
  .trend-product {
    top: 2300px;
  }
  .trend-product .trend-heading {
    top: 50px;
  }
  .trend-product .slider-product {
    top: 80px;
  }
  .trend-product .slider-product img {
    width: 217px;
    height: 231px;
    margin: 0 25px;
  }
  .section3 {
    top: 2820px;
  }
  .section4 {
    top: 3335px;
  }
  .section5 {
    top: 4435px;
  }
  .section5 .awards img {
    width: 700px;
    height: 230px;
  }
  .markq {
    top: 5230px;
  }
  footer {
    top: 5450px;
  }
  footer .social-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .social-links small {
    font-size: 1.4rem;
  }
}

@media (max-width: 788px) {
  .section3 .container1 span {
    top: 96%;
  }
}

@media (max-width: 780px) {
  .trend-product .slider-product img {
    width: 300px;
    height: 250px;
  }
  .section5 {
    height: 2350px;
  }
  .section5 .blog {
    position: relative;
    top: 300px;
  }
  .section5 .blog .iamges-show {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section5 .blog .iamges-show img {
    width: 670px;
    height: 377px;
    margin: 10px 0;
  }
  .section5 .blog .iamges-show .img3 {
    display: block;
  }
  .section5 .awards {
    top: 320px;
  }
  .section5 .awards img {
    width: 700px;
    height: 230px;
  }
  .markq {
    top: 6750px;
    height: 50px;
  }
  footer {
    top: 6935px;
  }
}

@media (max-width: 754px) {
  .section3 .container3 span {
    top: 96%;
  }
  .section5 {
    height: 2220px;
  }
  .section5 .blog .iamges-show img {
    width: 100%;
    height: 350px;
  }
  .section5 .awards img {
    width: 700px;
    height: 230px;
  }
  .markq {
    top: 6655px;
  }
  footer {
    top: 6845px;
  }
}

@media (max-width: 700px) {
  .section5 .awards img {
    width: 645px;
    height: 220px;
  }
}

@media (max-width: 720px) {
  .nav {
    height: 8.5rem;
  }
  .name-img img {
    padding: 1rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .hamburgur {
    position: fixed;
    display: block;
    z-index: 5;
  }
  .innav.nav-cont {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-cont {
    background-color: black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 90%;
    height: 100vh;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    color: white;
    font-size: 1.8rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 5;
  }
  .nav-cont .uloverflowA {
    overflow: auto;
  }
  .nav-cont .uloverflowB {
    overflow: auto;
  }
  .nav-cont .ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: relative;
    top: 10px;
    background-color: black;
    height: 300px;
  }
  .nav-cont .ul .hr,
  .nav-cont .ul .hrhide {
    margin-top: 8px;
    background-color: red;
    width: 100%;
    height: 2px;
  }
  .nav-cont .ul li {
    margin: 14px;
    background: transparent !important;
    position: relative;
  }
  .nav-cont .ul li:hover,
  .nav-cont .ul li a:hover {
    color: red;
    background: transparent !important;
  }
  .nav-cont .ul .hideli:hover {
    text-decoration: underline;
  }
  .nav-cont .shop-cont span,
  .nav-cont .more-cont span {
    position: absolute;
    right: 10px;
  }
  .nav-cont .search {
    position: relative;
    top: -30px;
    left: -20%;
    font-size: 1.6rem;
    margin: 0;
  }
  .nav-cont .search .sera {
    color: black;
    position: relative;
    left: -90px;
    top: -16px;
    background: transparent;
    border: none;
    outline: none;
  }
  .nav-cont .fa-search {
    position: relative;
    top: 16px;
    left: 56px;
  }
  .nav-cont input {
    height: 40px;
    width: 240px;
    border-radius: 0px;
    border: 1px solid black;
    color: black;
    outline: none;
    background-color: white;
  }
  .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: 60px;
    width: 100%;
    font-size: 3rem;
  }
  .social-media a {
    background: transparent;
  }
  .social-media i {
    color: white;
    margin: 0px 10px;
  }
  .hidrespon {
    display: none;
  }
  .hideli {
    display: block;
  }
  .moreinfo .gift,
  .moreinfo .user {
    display: none;
  }
  .main {
    top: 8.5rem;
  }
  .cart {
    position: absolute;
    top: -20px;
    right: 0;
  }
  .cart .cart-count {
    position: absolute;
    right: 20px;
    top: -24px;
  }
  .optn {
    display: none;
  }
  .show {
    display: block;
  }
  .transrotate {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .options-responsive {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .options-responsive .options-all img {
    width: 100%;
    height: 100%;
  }
  .optn-drop {
    display: none;
  }
  .show-drop {
    display: block;
  }
  .options-dropresp {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .options-dropresp .drop1 {
    margin-left: 10px;
    margin: 4px 0;
  }
  .section1-cont {
    min-height: 15vh;
    font-size: 3rem;
  }
  .section1 {
    height: 750px;
  }
  .section1 .shopslider {
    top: 10px;
    width: 60%;
  }
  .section2 {
    position: absolute;
    top: 1215px;
  }
  .section2 .information-stars {
    top: 50px;
  }
  .trend-product {
    top: 2215px;
  }
  .trend-product .slider-product .lightSlider {
    height: 250px;
  }
  .trend-product .slider-product img {
    width: 300px;
    height: 250px;
  }
  .section3 {
    height: 1800px;
    top: 2800px;
  }
  .section3 .category-content {
    top: 200px;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
  }
  .section3 .container1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .section3 .container1 span {
    top: 130%;
  }
  .section3 .container2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .section3 .container2 span {
    top: 115%;
  }
  .section3 .container3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .section3 .container3 span {
    top: 140%;
  }
  .section3 .container4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .section3 .container4 span {
    top: 160%;
  }
  .section3 .container5 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .section3 .container5 span {
    top: 125%;
  }
  .section4 {
    top: 4600px;
    height: 1300px;
  }
  .section4 .boathead-special {
    top: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 590px;
  }
  .section4 .text-description {
    width: 85%;
    position: relative;
    top: -60px;
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section4 .text-description h3 {
    all: initial;
    font-size: 4rem;
    font-weight: bold;
  }
  .section4 .text-description p {
    display: block;
    all: initial;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
  }
  .section4 .img-tab {
    top: -90px;
    position: relative;
    width: 100%;
    height: 65%;
  }
  .section4 .img-tab img {
    width: 100%;
    height: 100%;
  }
  .section4 .people-opinion h3 {
    font-size: 5rem;
    position: relative;
    top: 140px;
  }
  .section4 .cards-people {
    position: relative;
    top: 150px;
  }
  .section5 {
    top: 5900px;
  }
  .markq {
    top: 8120px;
  }
  footer {
    top: 8275px;
  }
  footer .footer-images {
    height: 200px;
  }
}

.lSPager {
  display: none;
}

@media (max-width: 645px) {
  .section1 {
    height: 840px;
  }
  .section1 .playcont {
    height: 540px;
  }
  .section1 .playcont .shopslider {
    width: 280px;
  }
  .section2 {
    position: absolute;
    top: 1250px;
  }
  .trend-product .slider-product img {
    width: 465px;
    height: 100%;
    position: relative;
    margin: 0 55px;
  }
  .section4 {
    top: 4600px;
  }
  .section5 .awards img {
    width: 541px;
    height: 200px;
  }
}

@media (max-width: 550px) {
  .section4 .cards-people img {
    width: 300px;
    margin: 0 20%;
  }
  .section5 {
    height: 2000px;
  }
  .section5 .blog .iamges-show img {
    height: 250px;
  }
  .markq {
    top: 7625px;
  }
  footer {
    top: 7785px;
  }
  footer .footer-images p {
    margin-top: 5px;
  }
}

@media (max-width: 550px) {
  .section4 .cards-people img {
    width: 300px;
    margin: 0 20%;
  }
  .section5 {
    height: 2100px;
  }
  .section5 .blog .iamges-show img {
    height: 180px;
  }
}

@media (max-width: 541px) {
  .section2 {
    top: 1305px;
  }
  .section5 .awards img {
    width: 100%;
    height: 165px;
  }
}

@media (max-width: 420px) {
  .section1 {
    height: 900px;
  }
  .section1 .playcont {
    width: 80%;
    height: 650px;
    min-width: 70%;
  }
  .section1 .playcont .heading {
    font-size: 5rem;
  }
  .section1 .playcont .shopslider {
    top: 45px;
  }
  .section2 {
    position: absolute;
    top: 1365px;
  }
  .section5 .awards img {
    height: 100%;
  }
}

@media (max-width: 328px) {
  .name-img img {
    padding: 1.6rem;
    position: absolute;
    left: 40%;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  .cart {
    position: absolute;
  }
  .section1 {
    height: 780px;
  }
  .section1 .playcont {
    height: 500px;
  }
  .section1 .playcont .heading {
    width: 100%;
    font-size: 3.6rem;
  }
  .section1 .playcont .shopslider {
    top: 30px;
    width: 90%;
  }
  .section2 {
    position: absolute;
    top: 1245px;
  }
  .section4 {
    height: 1400px;
  }
  .section4 .cards-people img {
    margin: 5%;
    width: 100%;
  }
  .section4 .section5 {
    top: 6000px;
    height: 1800px;
  }
  .section4 .markq {
    top: 7690px !important;
  }
}

@media (max-width: 328px) and (max-width: 240px) {
  .section1 {
    height: 650px;
  }
  .section1 .playcont {
    height: 320px;
  }
  .section1 .playcont .heading {
    font-size: 3rem;
  }
  .section1 .playcont .shopslider {
    top: 20px;
  }
  .section1 .playcont .shopslider img {
    width: 216px;
    height: 260px;
    margin: 0 6px;
  }
  .section2 {
    position: absolute;
    top: 1115px;
  }
  .trend-product {
    top: 2115px;
  }
  .trend-product .slider-product img {
    width: 25%;
    height: 25%;
  }
  .section3 {
    top: 2790px;
  }
  .section3 .container1 .description-category h3,
  .section3 .container2 .description-category h3,
  .section3 .container3 .description-category h3,
  .section3 .container4 .description-category h3,
  .section3 .container5 .description-category h3 {
    font-size: 2rem;
  }
  .section3 .container1 .description-category p,
  .section3 .container2 .description-category p,
  .section3 .container3 .description-category p,
  .section3 .container4 .description-category p,
  .section3 .container5 .description-category p {
    font-size: 1.2rem;
    line-height: normal;
  }
  .section3 .container1 span {
    top: 65%;
    font-size: 1.4rem;
  }
  .section3 .container2 span {
    top: 50%;
  }
  .section3 .container3 span {
    top: 65%;
  }
  .section3 .container4 span {
    top: 20%;
  }
  .section3 .section5 {
    height: 2100px;
  }
  .section3 .section5 .blog .iamges-show img {
    height: 150px;
  }
}

@media (max-width: 328px) and (max-width: 240px) and (max-width: 550px) {
  .section4 {
    height: 2000px;
  }
  .section4 .cards-people img {
    width: 300px;
    margin: 0 20%;
  }
}

@media (max-width: 328px) and (max-width: 240px) {
  .markq {
    top: 7940px;
  }
}
/*# sourceMappingURL=style.css.map */